@model GoogleAnalyticsLinqProvider.Sample.Models.GoogleAnalyticsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Sign In</title>
</head>
<body>
    <div>
        Click <a href="@Model.Url">here</a> to obtain the  Google Analytics refresh token.
    </div>
</body>
</html>
